<!-- templates/signup.html -->
{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}

<div class="container my-5 py-5 pr-5" style="padding: 0px 10px;">
  <div class="row">
    <h1 class="display-4">Profile.</h1>
  </div>
  <div class="row mr-2 mt-2">
    <div class="alert alert-info alert-dismissible fade show" role="alert">
      <h4 class="alert-heading">You must be a driver to take drive request!</h4>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <p>Hey There! Do you want to be a driver and start making cash? If you do, just go ahead and fill out the following driver information then you should be ready to go.</p>
      <hr>
      <p class="mb-0">Vehicle Type is required.</p>
      <p class="mb-0">License Plate Number is required.</p>
      <p class="mb-0">Capacity is required.</p>
      <p class="mb-1">Special info is optional.</p>
    </div>
  </div>

  

<div class="row my-5 mr-2">
  <div class="col-sm-12">
    <div>
      <form method="post">
        {% csrf_token %}
        <!-- {{ form.as_p }} -->
        {% include 'form.html' with form=form %}

        <button type="submit" class="btn btn-primary mt-3">Save</button>
        <a class="btn btn-secondary mt-3 mx-3" href="{% url 'home' %}" role="button">Back</a>
      </form>
    </div>
  </div>
</div>

</div>

{% endblock %}
