{% extends 'basic.html' %}
{% block title %}Search Result{% endblock %}


{% block content %}

<div class="bg-info mt-5 text-white">
    <div class="my-3 pt-5">
        <div sytle="height:120px;"></div>
        <div class="row mx-5 pt-5 px-5">
            <h1 class="display-4">Edit Your Ride</h1>
        </div>
        <div style="height:80px;"></div>
    </div>
</div>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form method="post" class="post-form mx-5 my-5 px-5">
    {% csrf_token %}
    {% include 'form.html' with form=form %}
    <input type="submit" value="Submit" class="btn btn-primary mt-5" />
</form>


{% endblock %}
